<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="5a9b1e50-97f1-4e4b-bdc4-c95f95b58bd2"
            Publisher="CN=stefa_000"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>rosbridge_client_example_app</DisplayName>
    <PublisherDisplayName>stefa_000</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="rosbridge_client_example_app.App">
        <VisualElements
            DisplayName="rosbridge_client_example_app"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="rosbridge_client_example_app"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>